n8n-sprint-issue-analyzer-with-anthropic.json
{
  "name": "Sprint Issue Analyzer → Obsidian (with Anthropic)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1"
            }
          ]
        }
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000001",
      "name": "Schedule Trigger (Lundi 9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {},
      "id": "e3b7c0a0-1234-4567-89ab-000000000002",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gitlab.com/api/v4/projects/microdon%2Fretail%2Fpfr-api/issues?milestone={{ $now.format('yyyy') }}-Sprint-{{ $now.format('ww') }}&state=opened&per_page=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitLabApi",
        "options": {}
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000003",
      "name": "Fetch Sprint Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 400],
      "notes": "✅ Calls GitLab API to fetch issues from current sprint"
    },
    {
      "parameters": {
        "jsCode": "// Parse HTTP response and filter issues\nconst issues = $input.all();\n\n// Filter: Keep only issues that need analysis\nconst filteredIssues = issues.filter(item => {\n  const issue = item.json;\n  const labels = issue.labels || [];\n  const hasGroomed = labels.some(l => l.includes('Board::Groomed'));\n  const needsAnalysis = labels.some(l => l.includes('Tech::To Analyze'));\n  const notDone = !labels.some(l => l.includes('Board::Done'));\n  \n  return (hasGroomed || needsAnalysis) && notDone;\n});\n\n// Transform to simpler structure\nreturn filteredIssues.map(item => {\n  const issue = item.json;\n  return {\n    json: {\n      issue_id: issue.iid,\n      issue_number: issue.references?.full || `#${issue.iid}`,\n      title: issue.title,\n      web_url: issue.web_url,\n      state: issue.state,\n      labels: issue.labels,\n      assignees: (issue.assignees || []).map(a => a.username),\n      weight: issue.weight || 0,\n      epic: issue.epic?.title || 'No epic',\n      milestone: issue.milestone?.title || 'No milestone'\n    }\n  };\n});"
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000004",
      "name": "Parse and Filter Issues",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000005",
      "name": "Loop Issues (batch 3)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://gitlab.com/api/v4/projects/microdon%2Fretail%2Fpfr-api/issues/{{ $json.issue_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitLabApi",
        "options": {}
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000006",
      "name": "Fetch Issue Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Extract detailed information from GitLab API response\nconst issueDetails = $input.item.json;\n\nreturn [{\n  json: {\n    ...$('Parse and Filter Issues').item.json,\n    description: issueDetails.description || 'No description',\n    author: issueDetails.author?.username || 'unknown',\n    created_at: issueDetails.created_at,\n    updated_at: issueDetails.updated_at\n  }\n}];"
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000007",
      "name": "Extract Issue Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Load gitlab-issue-writer agent system prompt\nconst fs = require('fs');\nconst path = require('path');\n\nconst agentPath = path.join(process.env.HOME, '.claude/agents/gitlab-issue-writer.md');\n\ntry {\n  const systemPrompt = fs.readFileSync(agentPath, 'utf8');\n  \n  // Extract just the content after the frontmatter (---...---)\n  const contentMatch = systemPrompt.match(/---[\\s\\S]*?---([\\s\\S]*)/);  \n  const agentContent = contentMatch ? contentMatch[1].trim() : systemPrompt;\n  \n  return [{\n    json: {\n      agent_system_prompt: agentContent,\n      agent_name: 'gitlab-issue-writer',\n      loaded_from: agentPath\n    }\n  }];\n} catch (error) {\n  throw new Error(`Failed to load agent: ${error.message}`);\n}"
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000008",
      "name": "Load gitlab-issue-writer Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 400],
      "notes": "✅ Loads the complete gitlab-issue-writer agent system prompt from ~/.claude/agents/"
    },
    {
      "parameters": {
        "resource": "message",
        "model": "claude-3-5-sonnet-20241022",
        "prompt": "=Analyse cette issue GitLab et génère un document Markdown structuré pour la préparation du sprint.\n\n**Issue**: {{ $('Extract Issue Info').item.json.issue_number }}\n**Titre**: {{ $('Extract Issue Info').item.json.title }}\n**URL**: {{ $('Extract Issue Info').item.json.web_url }}\n**Epic**: {{ $('Extract Issue Info').item.json.epic }}\n**Weight**: {{ $('Extract Issue Info').item.json.weight }} points\n**Milestone**: {{ $('Extract Issue Info').item.json.milestone }}\n**Assignees**: {{ $('Extract Issue Info').item.json.assignees.join(', ') || 'Unassigned' }}\n**Status**: {{ $('Extract Issue Info').item.json.state }}\n**Auteur**: {{ $('Extract Issue Info').item.json.author }}\n**Labels**: {{ $('Extract Issue Info').item.json.labels.join(', ') }}\n\n**Description complète**:\n```\n{{ $('Extract Issue Info').item.json.description }}\n```\n\n---\n\nGénère un document Markdown d'analyse technique pour cette issue en suivant le format habituel des analyses de sprint (avec YAML frontmatter pour Obsidian).\n\nInclus:\n1. Résumé technique du contexte et des objectifs\n2. Découpage en sous-tâches avec estimations de poids\n3. Dépendances identifiées\n4. Points d'attention (sécurité, performance, compatibilité)\n5. Critères d'acceptance détaillés\n\nFormat Markdown compatible Obsidian avec tags appropriés.",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "={{ $('Load gitlab-issue-writer Agent').item.json.agent_system_prompt }}"
        }
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000009",
      "name": "Anthropic: Analyze with Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [1650, 400],
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic API"
        }
      },
      "notes": "🤖 Uses gitlab-issue-writer agent via Anthropic API\n\nRequires: Anthropic API key configured in n8n credentials"
    },
    {
      "parameters": {
        "jsCode": "// Parse Anthropic response and prepare for saving\nconst anthropicResponse = $input.item.json;\nconst issueData = $('Extract Issue Info').item.json;\n\n// Extract the markdown content from Anthropic response\nconst analysisMarkdown = anthropicResponse.response || anthropicResponse.text || anthropicResponse.output;\n\nif (!analysisMarkdown) {\n  throw new Error('No analysis content returned from Anthropic');\n}\n\nreturn [{\n  json: {\n    issue_id: issueData.issue_id,\n    issue_number: issueData.issue_number,\n    title: issueData.title,\n    analysis_content: analysisMarkdown,\n    filename: `sprint-prep-issue-${issueData.issue_id}-${new Date().toISOString().split('T')[0]}.md`\n  }\n}];"
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000010",
      "name": "Parse Agent Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 400],
      "notes": "Extracts markdown analysis from Anthropic response"
    },
    {
      "parameters": {
        "path": "=/obsidian/01-Projects/pfr-api/Daily-Reports/{{ $json.filename }}",
        "fileContent": "={{ $json.analysis_content }}",
        "options": {}
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000011",
      "name": "Save Issue Analysis to Obsidian",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2050, 280],
      "notes": "✅ Writes analysis to Obsidian vault\n\nPath: /obsidian/01-Projects/pfr-api/Daily-Reports/\n(Docker volume mounted)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Loop Issues (batch 3)').context.noItemsLeft }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000012",
      "name": "All Issues Processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2250, 400]
    },
    {
      "parameters": {
        "jsCode": "// Generate summary of all processed issues\nconst allItems = $input.all();\nconst totalIssues = allItems.length;\nconst totalWeight = allItems.reduce((sum, item) => {\n  const issueData = $('Extract Issue Info', item.index).item.json;\n  return sum + (issueData?.weight || 0);\n}, 0);\n\n// Group by epic\nconst byEpic = {};\nallItems.forEach((item, index) => {\n  const issueData = $('Extract Issue Info', index).item.json;\n  const epic = issueData?.epic || 'No epic';\n  if (!byEpic[epic]) byEpic[epic] = [];\n  byEpic[epic].push({\n    number: issueData.issue_number,\n    title: issueData.title,\n    weight: issueData.weight || 0\n  });\n});\n\nconst summaryMarkdown = `---\ntags: [sprint-summary, automated-report]\ncreated: ${new Date().toISOString()}\n---\n\n# Sprint Preparation Summary - ${new Date().toLocaleDateString('fr-FR')}\n\n**Total Issues Analyzed**: ${totalIssues}\n**Total Weight**: ${totalWeight} points\n\n## Issues by Epic\n\n${Object.entries(byEpic).map(([epic, issues]) => {\n  const epicWeight = issues.reduce((sum, i) => sum + i.weight, 0);\n  return `### ${epic} (${epicWeight}pts)\n\n${issues.map(i => `- [${i.number}] ${i.title} (${i.weight}pts)`).join('\\n')}`;\n}).join('\\n\\n')}\n\n---\n\n*Generated automatically by n8n workflow*\n*See individual analysis files in Daily-Reports/*\n`;\n\nreturn [{\n  json: {\n    summary: summaryMarkdown,\n    total_issues: totalIssues,\n    total_weight: totalWeight,\n    summary_filename: `sprint-summary-${new Date().toISOString().split('T')[0]}.md`\n  }\n}];"
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000013",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 280]
    },
    {
      "parameters": {
        "path": "=/obsidian/01-Projects/pfr-api/Daily-Reports/{{ $json.summary_filename }}",
        "fileContent": "={{ $json.summary }}",
        "options": {}
      },
      "id": "e3b7c0a0-1234-4567-89ab-000000000014",
      "name": "Save Summary to Obsidian",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [2650, 280],
      "notes": "✅ Writes sprint summary to Obsidian"
    }
  ],
  "connections": {
    "Schedule Trigger (Lundi 9h)": {
      "main": [
        [
          {
            "node": "Fetch Sprint Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Sprint Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Sprint Issues": {
      "main": [
        [
          {
            "node": "Parse and Filter Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Filter Issues": {
      "main": [
        [
          {
            "node": "Loop Issues (batch 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Issues (batch 3)": {
      "main": [
        [
          {
            "node": "Fetch Issue Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Issue Details": {
      "main": [
        [
          {
            "node": "Extract Issue Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Issue Info": {
      "main": [
        [
          {
            "node": "Load gitlab-issue-writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load gitlab-issue-writer Agent": {
      "main": [
        [
          {
            "node": "Anthropic: Analyze with Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic: Analyze with Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Response": {
      "main": [
        [
          {
            "node": "Save Issue Analysis to Obsidian",
            "type": "main",
            "index": 0
          },
          {
            "node": "All Issues Processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All Issues Processed?": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Issues (batch 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Save Summary to Obsidian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}
